/* Constants */
@font-face {
  font-family: CircularStd-Book;

  src: url(../fonts/CircularStd-Book.otf);
}

/* Color */
.blueBg {
  border-radius: 6px;
  background-color: #6666FF;
}

.orangeBg {
  border-radius: 6px;
  background-color: #F4845F;
}

.greenBg {
  border-radius: 6px;
  background-color: #00A896;
}

.redBg {
  border-radius: 6px;
  background-color: #EA4C89;
}

/* text */
p,
a,
h1,
h2,
h3 {
  color: #333333;
  font-family: 'CircularStd-Book', sans-serif;
}

a {
  text-decoration: none;
  color: #333333;
  line-height: inherit;
}

h2 {
  line-height: 1.4;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 3vw;
  }
  h2 {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 500px) {
  p {
    font-size: 4vw;
  }
  h2 {
    font-size: 5vw;
  }
}

/* layout */
.fa {
  padding-right: 10px;
  padding-left: 10px;
  color: #333333;
}

.center {
  text-align: center;
}

.section {
  transition: 0.5s ease;
}

.sectionMargin {
  width: 80%;
  max-width: 1400px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.underline {
  cursor: pointer;
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}

.underlineDark {
  cursor: pointer;
  color: #333333;
  border-bottom: 3px solid #333333;
}

.static {
  pointer-events: none;
}

::selection {
  background: #EA4C89; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #EA4C89; /* Gecko Browsers */
}

@media only screen and (max-width: 1000px) {
  .sectionMargin {
    width: 90%;
    margin: auto;
  }

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/*Nav*/
#menu {
  position: fixed;
  z-index: 4;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
}

#menu li {
  display: inline;
}

#menu li a {
  margin-right: 30px;
  color: #767676;
  font-family: 'CircularStd-Book', sans-serif;
  font-size: 18px;
}

#menu li:hover a {
  color: var(--oil);
}

#menu li.active a {
  color: var(--oil);
}

.navDisplay {
  position: absolute;
}

#menu li a {
  width: 0;
  height: 25px;
  transition: 0.5s ease;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

#menu li.active a {
  width: 100%;
  border-bottom: 3px solid #333333;
}

#menu li a:hover {
  width: 100%;
  border-bottom: 3px solid #333333;
}

/* desktop */
@media only screen and (min-width: 1000px) {
  .fp-viewing-home #menu li a {
    color: #FFFFFF;
  }

  .fp-viewing-home #menu li a:hover {
    border-bottom: 3px solid #FFFFFF;
  }

  #menu {
    right: 5%;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/*mobile*/
@media only screen and (max-width: 1000px) {
  #menu {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #FFFFFF;
  }
}

@media only screen and (max-width: 345px) {
  #menu li a {
    font-size: 4.5vw;
  }
}

/* home */
.homeText h2 {
  color: #FFFFFF;
}

#conner,
#dev,
#more,
#resume {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  opacity: 0;

  animation-fill-mode: forwards;
}

#dev {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#more {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#resume {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.homeTextDull {
  -moz-animation: fadeinDull ease-in 1.5s; /* Firefox < 16 */
  -ms-animation: fadeinDull ease-in 1.5s; /* Internet Explorer */
  -o-animation: fadeinDull ease-in 1.5s; /* Opera < 12.1 */
  animation: fadeinDull ease-in 1.5s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 2.6s;
  opacity: 0;

  animation-fill-mode: forwards;
}

/* about */
.aboutLeft,
.aboutRight {
  max-width: 40%;
}

.aboutText h3 {
  color: #000000;
}

.aboutTextInteractive {
  padding: 0 4px;
  cursor: pointer;
  transition: 0.5s ease;
  color: #FFFFFF;
}

#aboutChicagoGIF,
#aboutSportsGIF,
#aboutExoticGIF,
#aboutFrontGIF,
#aboutRockGIF,
#aboutSkiGIF,
#aboutVideoGamesGIF,
#aboutPodcastGIF {
  display: none;
}

#aboutTrigger {
  width: fit-content;
}

#aboutTextPlay,
#aboutTriggerPlay {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .aboutLeft {
    max-width: 95%;
  }

  .aboutTextInteractive {
    pointer-events: none;
  }
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinDull {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeinDull {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinDull {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* work */
.workBox {
  position: relative;
  display: flex;
  width: 25%;
  max-width: 275px;
  height: 275px;
  margin: 0 5px;
  border-radius: 10px;
}

.workContent {
  margin: auto;
  text-align: center;
}

.workDesktop {
  display: relative;
  width: 100%;
  height: 100%;
}

.workMobile {
  display: none;
}

.workImg {
  width: 75%;
  height: auto;
}

.workImgFull {
  width: 100%;
}

.ambio {
  -webkit-animation: Gradient 8s ease infinite;
  -moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, rgb(143,19,253), rgba(71,55,224,1), #23D5AB);
  background-size: 300% 100%;
}

.arLayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 150px;
  margin: auto;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.1);
  font-size: 80px;

  b: 0;;
}

.arLayer1 {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(8);
  -webkit-animation: Hover-1  8s ease infinite;
  -moz-animation: Hover-1 8s ease infinite;
  animation: Hover-1 8s ease infinite;
  color: #762DEE;
}

.arLayer2 {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(4);
  -webkit-animation: Hover-2  8s ease infinite;
  -moz-animation: Hover-2 8s ease infinite;
  animation: Hover-2 8s ease infinite;
  color: #0E82F9;
}

.arLayer3 {
  transform: rotateX(45deg) rotateZ(45deg);
  color: #23D5AB;
}

.arLayer4 {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(-4);
  -webkit-animation: Hover-4  8s ease infinite;
  -moz-animation: Hover-4 8s ease infinite;
  animation: Hover-4 8s ease infinite;
  color: #F4B223;
}

.arLayer5 {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(-8);
  -webkit-animation: Hover-5  8s ease infinite;
  -moz-animation: Hover-5 8s ease infinite;
  animation: Hover-5 8s ease infinite;
  color: #F8246E;
}

.arMobile {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}

.arMobile1 {
  color: #F8246E;
}
.arMobile2 {
  color: #F4B223;
}
.arMobile3 {
  color: #23D5AB;
}
.arMobile4 {
  color: #0E82F9;
}
.arMobile5 {
  color: #762DEE;
}

.ar .workContent {
  width: 100%;
  max-width: 275px;
  height: 275px;
}

@-webkit-keyframes Hover-1 {
  0% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(-8px);
  }
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(-36px);
  }
  100% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(-8px);
  }
}

@-webkit-keyframes Hover-2 {
  0% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(-4px);
  }
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(-18px);
  }
  100% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(-4px);
  }
}

@-webkit-keyframes Hover-4 {
  0% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(4px);
  }
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(18px);
  }
  100% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(4px);
  }
}

@-webkit-keyframes Hover-5 {
  0% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(8px);
  }
  50% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(36px);
  }
  100% {
    transform: rotateX(45deg) rotateZ(45deg) translateZ(8px);
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.ar {
  background: #000000;
}

.ctaAR {
  background: #95DCE8;
}

.ctaAR .workImg {
  width: 150px;
  height: auto;
}

.piano {
  background: #3FB39A;
}

.dte {
  background: #D8E8F0;
}

.RGBeat {
  background: #000000;
}

.RGBeatButton {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  cursor: pointer;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.red {
  color: red;
}

.green {
  color: green;
}
.blue {
  color: blue;
}

@media only screen and (max-width: 1000px) {
  .workBox {
    width: 275px;
    max-width: auto;
    height: 75px;
    margin: 5px 0;
    border-radius: 10px;
  }

  .workContent {
    height: 75px;
  }

  .workImg {
    width: auto;
    height: 100%;
  }

  .workDesktop {
    display: none;
  }

  .workMobile {
    display: block;
  }

  .RGBeatButton {
    padding: 5px 20px;
  }

  .ctaAR .workImg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: 50px;
    margin: auto;
  }
}

/* contact */
.contactTitle {
  padding: 0 4px;
  color: #FFFFFF;
}

/* video embed */
.embed-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 0;
  height: auto;
  padding-bottom: 56.25%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Animation */
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0);
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    transform: translate3d(0,-40px,0);
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp 1.2s ease;
  -moz-animation: fadeInUp 1.2s ease;
  animation: fadeInUp 1.2s ease;
  opacity: 0;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation: fadeInDown 1.2s ease;
  -moz-animation: fadeInDown 1.2s ease;
  animation: fadeInDown 1.2s ease;
  opacity: 0;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
