/* global bg/u color */
@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
	font-family: CircularStd-Book;
	src: url(../fonts/CircularStd-Book.otf);
}

.blackB {
	background-color: #474751;
}

.blueB {
	background-color: #5068e0;
}

.blueU {
	border-bottom: 3px solid #5068e0;
}

.blueU2 {
	border-bottom: 3px solid #5068e0;
}

.blueU:hover {
	transition: 0.3s ease;
	color: #5068e0;
	border-bottom: 3px solid #5068e0;
}

.greenB {
	background-color: #45B29A;
}

.greenU {
	border-bottom: 3px solid #45B29A;
}

.greenU2 {
	border-bottom: 3px solid #45B29A;
}

.greenU3 {
	border-bottom: 2px solid #45B29A;
}

.greenU3:hover {
	transition: 0.3s ease;
	color: #45B29A;
}

.greenU:hover {
	transition: 0.3s ease;
	color: #45B29A;
}

.orangeT {
	color: #DE8C4B;
}

.redB {
	background-color: #FD6C7C;
}

.redU {
	border-bottom: 3px solid #FD6C7C;
}

.redU2 {
	border-bottom: 3px solid #FD6C7C;
}

.redU3 {
	border-bottom: 2px solid #FD6C7C;
}

.redU3:Hover {
	transition: 0.3s ease;
	color: #FD6C7C;
}

.redU:hover {
	transition: 0.3s ease;
	color: #FD6C7C;
}

.purpleU {
	border-bottom: 2px solid #6d6dce;
}

.purpleU:hover {
	transition: 0.3s ease;
	color: #6d6dce;
}

.yellowB {
	background-color: #FFB300;
}

.yellowU {
	border-bottom: 3px solid #FFB300;
}

.yellowU2 {
	border-bottom: 3px solid #FFB300;
}

.yellowU:hover {
	border-bottom: 3px solid #FFB300;
	transition: 0.3s ease;
	color: #FFB300;
}

.whiteU {
	color: #ffffff;
	border-bottom: 2px solid #FFFFFF;
}

.whiteT {
	color: #ffffff !important;
}

/*all*/

a {
	color: #333333;
	line-height: inherit;
	text-decoration: none;
}

.fa {
	color: #333333;
	padding-right: 10px;
	padding-left: 10px;
}

h1,
h2,
h3 {
	font-family: "CircularStd-Book", sans-serif;
	color: #333333;
}

p {
	font-family: "CircularStd-Book", sans-serif;
	color: #333333;
}

.banner-text {
	font-family: "CircularStd-Book", sans-serif;
	font-size: 4.0rem;
	color: var(--oil);
}

.banner-text-small {
	font-size: 1.2rem;
	color: var(--oil);
	opacity: 1.0;
}

.center {
	text-align: center;
}

.cover {
	background-image: url("../images/mountain.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.cms {
	padding-bottom: 30px;
}

.cursive {
	font-family: 'Pacifico', cursive;
}

.full {
	height: 100%;
}

.imageHalf {
	width: 40%;
}

.image50 {
	width: 49%;
}

.imageThird {
	width: 58%;
}

.imageFull {
	width: 80%;
}

.imageResponsive {
	width: 100%;
}

.mountain {
	color: var(--mountain);
}

.mountainDraw {
	width: 100%;
}


/*Nav*/

#menu {
	position: fixed;
	z-index: 4;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#menu li {
	display: inline;
}

#menu li a {
	color: #767676;
	font-family: "CircularStd-Book", sans-serif;
	font-size: 18px;
	margin-right: 30px;
}

#menu li:hover a {
	color: var(--oil);
}

#menu li.active a {
	color: var(--oil);
}

.navDisplay {
	position: absolute;
}

#menu li a {
	text-decoration: none;
	border-bottom: 3px solid transparent;
	width: 0px;
	transition: 0.5s ease;
	white-space: nowrap;
	height: 25px;
}

#menu li.active a {
	border-bottom: 3px solid #333333;
	width: 100%;
}

#menu li a:hover {
	border-bottom: 3px solid #333333;
	width: 100%;
}

p {
	color: var(--oil);
	font-family: "Lato", sans-serif;
}

.pad-right {
	margin-right: 10px;
}

.pad-top {
	margin-top: 50px;
}

.section {
	height: 100%;
}

.spinAnimate {
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.title {
	color: white;
}

.workImg {
	width: 100%;
	height: 100%;
}


/*typewriter*/

.typewriter h1 {
	overflow: hidden;
	border-right: .15em solid #DE8C4B;
	white-space: nowrap;
	margin: 0 auto;
	animation: typing 1.5s steps(40, end), blink-caret 1.2s step-end infinite;
	color: white;
	font-family: 'Oswald', sans-serif;
}
@keyframes typing {
	from {
		width: 0
	}
	to {
		width: 40%
	}
}
@keyframes blink-caret {
	from,
	to {
		border-color: transparent
	}
	50% {
		border-color: #DE8C4B;
	}
}


/* graphics path */

.path {
	stroke-dasharray: 1070;
	stroke-dashoffset: 0;
	animation: dash 2.8s linear forwards;
}

.path2 {
	stroke-dasharray: 100;
	stroke-dashoffset: 0;
	animation: dash2 3s linear forwards;
}

.path3 {
	stroke-dasharray: 340;
	stroke-dashoffset: 0;
	animation: dash3 3s linear forwards;
}

.path4 {
	stroke-dasharray: 1100;
	stroke-dashoffset: 0;
	animation: dash4 2.8s linear forwards;
}


@keyframes dash {
	from {
		stroke-dashoffset: 1050;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash2 {
	from {
		stroke-dashoffset: 100;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash3 {
	from {
		stroke-dashoffset: 300;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash4 {
	from {
		stroke-dashoffset: 1100;
	}
	to {
		stroke-dashoffset: 0;
	}
}

/* flicker effect */

.flicker {
	animation: blinker 5s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
iframe.imageResponsive {
    border-width: 0px;
    border-bottom: 0px;
}

/*desktop*/

@media only screen and (min-width: 900px) {
	.introPad {
		padding-left: 5%;
	}
	#menu {
		right: 5%;
		padding-top: 24px;
		padding-bottom: 24px;
	}
	.whiteMenu {
		color: #ffffff !important;
	}
	.whiteMenu:hover {
		border-bottom: 3px solid #ffffff !important;
	}
	.fa-arrow-down {
		padding-top: 20px;
	}
	.typewriter h1 {
		margin-top: 125px;
		width: 40%;
		font-size: 6vw;
	}
	.cmsGroup {
		margin-top: 75px;
	}
	.pad-desktop {
	margin-top: 50px;
	}
}


/* tablet and md */

@media only screen and (max-width: 768px) and (min-width: 300px) {
	.pad-nav {
		padding-top: 75px;
	}
}


/*mobile*/

@media only screen and (max-width: 900px) {
	#menu {
		width: 100%;
		text-align: center;
		background-color: #ffffff;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.mobilePad {
		padding-top: 30px;
	}
	.imageHalf {
		width: 49%;
	}
	.imageSmall {
		width: 20%;
	}
	.image50 {
		width: 100%;
	}
	.imageThird {
		width: 49%;
	}
	.imageFull {
		width: 100%;
	}
	.introImg {
		width: 60%;
	}
	.pad-nav {
		padding-top: 50px;
	}
	.pure-g {
		margin-left: 5%;
		margin-right: 5%;
	}
	.fa-arrow-down {
		padding-top: 20px;
	}
	.typewriter h1 {
		margin-top: 45px;
		margin-bottom: 40px;
		width: 30%;
		font-size: 10vw;
	}
	.work .pure-g {
		padding-bottom: 100px;
	}
}
@media only screen and (max-width: 768px) {
	p {
		font-size: 3vw;
	}
	h2 {
		font-size: 4vw;
	}
}
@media only screen and (max-width: 500px) {
	p {
		font-size: 4vw;
	}
	h2 {
		font-size: 5vw;
	}
}

@media only screen and (max-width: 345px) {
	#menu li a {
		font-size: 4.5vw;
	}
}